{% extends "base.html" %}
{% block title %}Counter{% endblock %}
{% block content %}
Counting on event {{ data.event }}
</br>

<form id="counter" method="post" action=" {{ url_for('hello') }} ">
  <fieldset id='countButtonField' disabled>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center count-text"><span id="displayCountPed">0</span></p>
        </div>
      </div>
      <div class="row">
        <div class"col-xs-12">
          <input class="btn btn-info btn-lg" type="button" value="Pedestrian" id="countPedButton" />
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center count-text"><span id="displayCountBike">0</span></p>
        </div>
      </div>
      <div class="row">
        <div class"col-xs-12">
          <input class="btn btn-info btn-lg" type="button" value="Cyclist" id="countBikeButton" />
        </div>
      </div>
    </div>
  </div>
  </fieldset>
  </br>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <div class="row">
        <div class="col-xs-12">
          <p class="text-center count-text"><span id="time">15:00</span></p>
        </div>
      </div>

      <div class="alert alert-warning collapse" id="locationEmpty">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Uh oh!</strong> A location is required. Please enter one below.
      </div>

      <div class='row'>
        <div class='col-xs-12'>
          <label for='locationBox'>Location</label>
          <input class="form-control" type="number" id="locationBox" name="locationBox" value="0" pattern="[0-9]*">
        </div>
      </div>
      </br>
      <fieldset id='startButtonField'>
      <div class="row">
        <div class="col-xs-12">
          <input class="btn btn-default" type="button" value="Start" id="startButton" />
        </div>
      </div>
      </fieldset>
      </br>
      <div class="row">
        <div class="col-xs-12">
          <a href="{{ url_for('home_page') }}" class="btn btn-danger" role="button">Exit Session</a>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group">
    <input type="hidden" id="buttonPedValue" name="buttonPedValue" >
    <input type="hidden" id="buttonBikeValue" name="buttonBikeValue" >
  </div>
</form>

<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock %}
