{% extends "base.html" %}
{% block title %}Counter{% endblock %}
{% block content %}

<form id="createEvent" method="post" action=" {{ url_for('create_event') }} ">
  <fieldset class='form-group'>
    <label for='event-name'>Event Name</label>
    <input class='form-control' type='text' id='event-name' name='event-name'>
  </fieldset>

  <fieldset class='form-group'>
    <label for='event-starttime'>Start Time</label>
    <input class='form-control' type='datetime-local' id='event-starttime' name='event-starttime'>
  </fieldset>

  <fieldset class='form-group'>
    <label for='event-endtime'>End Time</label>
    <input class='form-control' type='datetime-local' id='event-endtime' name='event-endtime'>
  </fieldset>

  <fieldset class='form-group'>
    <label for='event-entrances'>Number of Entrances</label>
    <input class='form-control' type='number' id='event-entrances' name='event-entrances'>
  </fieldset>

  <fieldset class='form-group'>
    <input class="btn btn-primary" type="submit" value="Create">
  </fieldset>
</form>

{% endblock %}
