{% extends "base.html" %}
{% block title %}Select Event{% endblock %}
{% block content %}
<h3>Select Event</h3>
</br>
<h4>Counting on Event {{ data.event }}</h4>
</br>
{% if add.add %}
<div class="alert alert-success" role="alert">Selection successful!</div>
{% endif %}

<table class="table">
  <tr>
    <th> ID </th>
    <th> Location </th>
    <th> Entrances </th>
  </tr>

  {% for event in events %}
  <form id="counter" method="post" action=" {{ url_for('select_event') }} ">
  <input type="hidden" name="event" value="{{ event.data[0] }}">
  <tr>
    <td> {{ event.data[0] }} </td>
    <td> {{ event.data[3] }} </td>
    <td> {{ event.data[5] }} </td>
    <td> <input class="btn btn-default" type="submit" value="Select" name="submit"> </td>
  </tr>
  </form>
  {% endfor %}

</table>

</br>
<form action="{{ url_for('create_event') }}">
  <div class="form-group">
    <input class="btn btn-large btn-info" type="submit" value="Create New Event">
  </div>
</form>

<form action="{{ url_for('get_data') }}">
  <div class="form-group">
    <input class="btn btn-large btn-info" type="submit" value="Event Data">
  </div>
</form>

{% endblock %}

