{% extends "base.html" %}
{% block title %}Select Event{% endblock %}
{% block content %}

{% if add.add %}
<div class="alert alert-success" role="alert">Selection successful!</div>
{% end if %}

<table class="table">
  <tr>
    <th> ID </th>
    <th> Location </th>
  </tr>

  {% for event in events %}
  <form id="counter" method="post" action=" {{ url_for('select_event') }} ">
  <input type="hidden" name="event" value="{{ event.data[0] }}">
  <tr>
    <td> {{ event.data[0] }} </td>
    <td> {{ event.data[3] }} </td>
    <td> <input class="btn btn-default" type="submit" value="Select" name="submit"> </td>
  </tr>
  </form>
  {% endfor %}

</table>

</br>
</br>
</br>
{% endblock %}
